body{
    background-color: #152238;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.code-editor{
    width: 90vw;
    height: 90vh;
    background-color: #152238;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
 
}

.code{
    padding-left: 20px;
    background-color: #152238;
    color: #04d9ff;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    overflow-y: auto ;

}

.code textarea{
    width: 95%;
    height: calc(100% - 4rem);
    background-color: #152238;
    color: #04d9ff;
    resize: vertical;
    font-size: 15px;

}

.code textarea::-webkit-scrollbar{
    width: .4rem;

}

.code textarea::-webkit-scrollbar-thumb{
      background-color: #04d9ff;
      border-radius: .2rem;

}

#result{
    width:600px;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    height: 500px; 
    border: 2px solid #152238;
     

}



